<a href="https://colab.research.google.com/github/victoriabelotti42/MATH_497_Team3/blob/main/efficiency_gap.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The redistricting code and related MCMC (GerryChain) code is adapted from the [GerryChain documentation](https://gerrychain.readthedocs.io/en/latest/user/quickstart.html), by the Metric Geometry and Gerrymandering Group.

See Seaborn documentation [here](https://seaborn.pydata.org/index.html) for visualization.

In [ ]:
import numpy as np

In [ ]:
#@title
!pip install gerrychain

Collecting gerrychain
  Downloading https://files.pythonhosted.org/packages/a5/fc/a9c80923910833d858542543b74e2afde8eb076cdf738964b90b7bbb199b/gerrychain-0.2.12-py2.py3-none-any.whl (48kB)
     |████████████████████████████████| 51kB 4.0MB/s
Requirement already satisfied: networkx in /usr/local/lib/python3.6/dist-packages (from gerrychain) (2.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from gerrychain) (1.1.4)
Requirement already satisfied: shapely in /usr/local/lib/python3.6/dist-packages (from gerrychain) (1.7.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from gerrychain) (3.2.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from gerrychain) (1.4.1)
Collecting geopandas
  Downloading https://files.pythonhosted.org/packages/f7/a4/e66aafbefcbb717813bf3a355c8c4fc3ed04ea1dd7feb2920f2f4f868921/geopandas-0.8.1-py2.py3-none-any.whl (962kB)
     |████████████████████████████████| 972kB 13.7MB/s
Requirement already satisfied: decorator>=4.3.0 in /usr/local/lib/python3.6/dist-packages (from networkx->gerrychain) (4.4.2)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas->gerrychain) (1.18.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas->gerrychain) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->gerrychain) (2018.9)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->gerrychain) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->gerrychain) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->gerrychain) (1.3.1)
Collecting pyproj>=2.2.0
  Downloading https://files.pythonhosted.org/packages/e4/ab/280e80a67cfc109d15428c0ec56391fc03a65857b7727cf4e6e6f99a4204/pyproj-3.0.0.post1-cp36-cp36m-manylinux2010_x86_64.whl (6.4MB)
     |████████████████████████████████| 6.5MB 45.4MB/s
Collecting fiona
  Downloading https://files.pythonhosted.org/packages/36/8b/e8b2c11bed5373c8e98edb85ce891b09aa1f4210fd451d0fb3696b7695a2/Fiona-1.8.17-cp36-cp36m-manylinux1_x86_64.whl (14.8MB)
     |████████████████████████████████| 14.8MB 248kB/s
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas->gerrychain) (1.15.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from pyproj>=2.2.0->geopandas->gerrychain) (2020.6.20)
Collecting cligj>=0.5
  Downloading https://files.pythonhosted.org/packages/ba/06/e3440b1f2dc802d35f329f299ba96153e9fcbfdef75e17f4b61f79430c6a/cligj-0.7.0-py3-none-any.whl
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas->gerrychain) (20.2.0)
Requirement already satisfied: click<8,>=4.0 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas->gerrychain) (7.1.2)
Collecting click-plugins>=1.0
  Downloading https://files.pythonhosted.org/packages/e9/da/824b92d9942f4e472702488857914bdd50f73021efea15b4cad9aca8ecef/click_plugins-1.1.1-py2.py3-none-any.whl
Collecting munch
  Downloading https://files.pythonhosted.org/packages/cc/ab/85d8da5c9a45e072301beb37ad7f833cd344e04c817d97e0cc75681d248f/munch-2.5.0-py2.py3-none-any.whl
Installing collected packages: pyproj, cligj, click-plugins, munch, fiona, geopandas, gerrychain
Successfully installed click-plugins-1.1.1 cligj-0.7.0 fiona-1.8.17 geopandas-0.8.1 gerrychain-0.2.12 munch-2.5.0 pyproj-3.0.0.post1

In [ ]:
!git clone https://github.com/mggg/GerryChain.git

Cloning into 'GerryChain'...
remote: Enumerating objects: 42, done.
remote: Counting objects: 100% (42/42), done.
remote: Compressing objects: 100% (32/32), done.
remote: Total 6007 (delta 20), reused 23 (delta 10), pack-reused 5965
Receiving objects: 100% (6007/6007), 111.77 MiB | 18.30 MiB/s, done.
Resolving deltas: 100% (4094/4094), done.

In [ ]:
# make sure this file shows up in this directory
!ls GerryChain/docs/user/PA_VTDs.json

GerryChain/docs/user/PA_VTDs.json

In [ ]:
path_to_pa = 'GerryChain/docs/user/PA_VTDs.json'

In [ ]:
from gerrychain import Graph, Partition, Election
from gerrychain.updaters import Tally, cut_edges

graph = Graph.from_json(path_to_pa)

election = Election("SEN12", {"Dem": "USS12D", "Rep": "USS12R"})

initial_partition = Partition(
    graph,
    assignment="CD_2011",
    updaters={
        "cut_edges": cut_edges,
        "population": Tally("TOTPOP", alias="population"),
        "SEN12": election
    }
)

In [ ]:
for district, pop in initial_partition["population"].items():
    print("District {}: {}".format(district, pop))

District 3: 705317
District 5: 706258
District 10: 705327
District 9: 705679
District 12: 705698
District 6: 705782
District 15: 705549
District 7: 706391
District 16: 705629
District 11: 705883
District 4: 705669
District 8: 705689
District 17: 705830
District 18: 705847
District 14: 705526
District 13: 705028
District 2: 705689
District 1: 705588

In [ ]:
from gerrychain import MarkovChain
from gerrychain.constraints import single_flip_contiguous
from gerrychain.proposals import propose_random_flip
from gerrychain.accept import always_accept
import pandas as pd
import matplotlib.pyplot as plt

chain = MarkovChain(
    proposal=propose_random_flip,
    constraints=[single_flip_contiguous],
    accept=always_accept,
    initial_state=initial_partition,
    total_steps=1000
)

# Generic Data in DataFrame
Now, let's take a look at the sociodemographic and political records supporting this analysis.  The file /GerryChain/docs/user/PA_VTDs.json contains tabular data for Vote Tabulation Districts (VTDs), which are precinct-level or similar regions.

In [ ]:
import json

with open(path_to_pa) as f:
    data = json.load(f)

In [ ]:
df = pd.DataFrame(data['nodes'])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9255 entries, 0 to 9254
Data columns (total 72 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   boundary_node   9255 non-null   bool
 1   boundary_perim  305 non-null    float64
 2   area            9255 non-null   float64
 3   STATEFP10       9255 non-null   object
 4   COUNTYFP10      9255 non-null   object
 5   VTDST10         9255 non-null   object
 6   GEOID10         9255 non-null   object
 7   VTDI10          9255 non-null   object
 8   NAME10          9255 non-null   object
 9   NAMELSAD10      9255 non-null   object
 10  LSAD10          9255 non-null   object
 11  MTFCC10         9255 non-null   object
 12  FUNCSTAT10      9255 non-null   object
 13  ALAND10         9255 non-null   int64
 14  AWATER10        9255 non-null   int64
 15  INTPTLAT10      9255 non-null   object
 16  INTPTLON10      9255 non-null   object
 17  TOTPOP          9255 non-null   int64
 18  NH_WHITE        9255 non-null   int64
 19  NH_BLACK        9255 non-null   int64
 20  NH_AMIN         9255 non-null   int64
 21  NH_ASIAN        9255 non-null   int64
 22  NH_NHPI         9255 non-null   int64
 23  NH_OTHER        9255 non-null   int64
 24  NH_2MORE        9255 non-null   int64
 25  HISP            9255 non-null   int64
 26  H_WHITE         9255 non-null   int64
 27  H_BLACK         9255 non-null   int64
 28  H_AMIN          9255 non-null   int64
 29  H_ASIAN         9255 non-null   int64
 30  H_NHPI          9255 non-null   int64
 31  H_OTHER         9255 non-null   int64
 32  H_2MORE         9255 non-null   int64
 33  VAP             9255 non-null   int64
 34  HVAP            9255 non-null   int64
 35  WVAP            9255 non-null   int64
 36  BVAP            9255 non-null   int64
 37  AMINVAP         9255 non-null   int64
 38  ASIANVAP        9255 non-null   int64
 39  NHPIVAP         9255 non-null   int64
 40  OTHERVAP        9255 non-null   int64
 41  2MOREVAP        9255 non-null   int64
 42  ATG12D          9255 non-null   float64
 43  ATG12R          9255 non-null   float64
 44  F2014GOVD       9255 non-null   float64
 45  F2014GOVR       9255 non-null   float64
 46  GOV10D          9255 non-null   float64
 47  GOV10R          9255 non-null   float64
 48  PRES12D         9255 non-null   float64
 49  PRES12O         9255 non-null   float64
 50  PRES12R         9255 non-null   float64
 51  SEN10D          9255 non-null   float64
 52  SEN10R          9255 non-null   float64
 53  T16ATGD         9255 non-null   float64
 54  T16ATGR         9255 non-null   float64
 55  T16PRESD        9255 non-null   float64
 56  T16PRESOTH      9255 non-null   float64
 57  T16PRESR        9255 non-null   float64
 58  T16SEND         9255 non-null   float64
 59  T16SENR         9255 non-null   float64
 60  USS12D          9255 non-null   float64
 61  USS12R          9255 non-null   float64
 62  REMEDIAL        9255 non-null   object
 63  GOV             9255 non-null   object
 64  TS              9255 non-null   int64
 65  CD_2011         9255 non-null   int64
 66  SEND            9255 non-null   int64
 67  HDIST           9255 non-null   int64
 68  538DEM          9255 non-null   object
 69  538GOP          9255 non-null   object
 70  538CMPCT        9255 non-null   object
 71  id              9255 non-null   int64
dtypes: bool(1), float64(22), int64(32), object(17)
memory usage: 5.0+ MB

In [ ]:
df

      boundary_node  boundary_perim      area  ... 538GOP 538CMPCT    id
0              True        0.063126  0.004278  ...     03       03     0
1             False             NaN  0.000551  ...     03       03     1
2             False             NaN  0.007934  ...     03       03     2
3              True        0.091923  0.010283  ...     03       03     3
4             False             NaN  0.010732  ...     03       03     4
...             ...             ...       ...  ...    ...      ...   ...
9250          False             NaN  0.002479  ...     04       04  9250
9251           True        0.044005  0.004784  ...     04       04  9251
9252          False             NaN  0.003723  ...     04       04  9252
9253          False             NaN  0.000151  ...     04       04  9253
9254          False             NaN  0.002111  ...     04       04  9254

[9255 rows x 72 columns]

In [ ]:
# votes_per_dist = {} 
# for i in range(df['GOV'].max()): 
grouped_cd_2011  = df.groupby('CD_2011')['T16PRESD','T16PRESR'].sum()
grouped_cd_2011.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  This is separate from the ipykernel package so we can avoid doing imports until

              T16PRESD       T16PRESR
CD_2011
1        250442.040614   57251.003598
2        334039.258555   28058.537550
3        112663.414224  195686.697215
4        125918.433935  198711.229557
5        103861.199549  191897.128258

In [ ]:
grouped_cd_2011['D_prop'] =  grouped_cd_2011["T16PRESD"]/(grouped_cd_2011["T16PRESD"]+grouped_cd_2011["T16PRESR"])
grouped_cd_2011['R_prop'] =  grouped_cd_2011["T16PRESR"]/(grouped_cd_2011["T16PRESD"]+grouped_cd_2011["T16PRESR"])
grouped_cd_2011['D_wasted'] = np.where(grouped_cd_2011['D_prop'] <  grouped_cd_2011['R_prop'], grouped_cd_2011['D_prop'], grouped_cd_2011['D_prop'] -.5)
grouped_cd_2011['R_wasted'] = np.where(grouped_cd_2011['R_prop'] <  grouped_cd_2011['D_prop'], grouped_cd_2011['R_prop'], grouped_cd_2011['R_prop'] -.5)
grouped_cd_2011.head()

              T16PRESD       T16PRESR    D_prop    R_prop  D_wasted  R_wasted
CD_2011
1        250442.040614   57251.003598  0.813935  0.186065  0.313935  0.186065
2        334039.258555   28058.537550  0.922511  0.077489  0.422511  0.077489
3        112663.414224  195686.697215  0.365375  0.634625  0.365375  0.134625
4        125918.433935  198711.229557  0.387883  0.612117  0.387883  0.112117
5        103861.199549  191897.128258  0.351169  0.648831  0.351169  0.148831

In [ ]:
efficiency_gap = (sum(grouped_cd_2011["R_wasted"]) - sum(grouped_cd_2011["D_wasted"])) / (sum(grouped_cd_2011["R_prop"]) + sum(grouped_cd_2011["D_prop"]) )
efficiency_gap

-0.14873416638683068

In [ ]:
plans = ['REMEDIAL','GOV','TS','CD_2011','538DEM','538GOP','538CMPCT']

In [ ]:
groupdef calculate_efficiency_gap(df): 
  df['D_prop'] =  df["T16PRESD"]/(df["T16PRESD"]+df["T16PRESR"])
  df['R_prop'] =  df["T16PRESR"]/(df["T16PRESD"]+df["T16PRESR"])
  df['D_wasted'] = np.where(df['D_prop'] <  df['R_prop'], df['D_prop'], df['D_prop'] -.5)
  df['R_wasted'] = np.where(df['R_prop'] <  df['D_prop'], df['R_prop'], df['R_prop'] -.5)
  # grouped_cd_2011.head()
  efficiency_gap = (sum(df["D_wasted"]) - sum(df["R_wasted"])) / (sum(df["R_prop"]) + sum(df["D_prop"]) )
  return efficiency_gap

In [ ]:
for plan in plans: 
  eff_gap = calculate_efficiency_gap(df.groupby(plan)['T16PRESD','T16PRESR'].sum())
  print(plan,round(eff_gap,4))

REMEDIAL 0.0332
GOV 0.0909
TS 0.1477
CD_2011 0.1487
538DEM -0.0216
538GOP 0.2036
538CMPCT 0.0902

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.